$def with(producto)

<h1 class="titulo">Actualizar Producto $producto.nombre</h1>
<div class="container">    
    <form method="post" class="form" enctype="multipart/form-data">

        <input type="hidden" name="id_producto" value=$producto.id_producto>

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value=$producto.nombre class="form-control"><br>

        <label for="descripcion">Descripción:</label>
        <input type="text" name="descripcion" value=$producto.descripcion class="form-control"><br>

        <label for="precio">Precio:</label>
        <input type="number" name="precio" value=$producto.precio class="form-control"><br>    

        <label for="existencias">Existencias:</label>
        <input type="number" name="existencias" value=$producto.existencias class="form-control"><br>

        <label for="imagen">Imagen:</label>
        <input type="file" name="imagen" class="form-control"><br>

        <div class="d-flex justify-content-center">
            <img src="data:image/jpeg;base64,$producto.imagen_base64" alt="Imagen del Producto" style="max-width: 200px; max-height: 200px;">
        </div>
        <br>
        <br>
        
        <button type="submit" class="form-control btn btn-primary">Actualizar</button>
        <br>
        <br>    
        <a href="/" class="form-control btn btn-secondary">Cancelar</a>
    </form>
</div>
